<span id="a">andrea@skariko</span>:<span id="b">~</span
><span id="c">$</span> cd skariko/About_Me
<span id="a">andrea@skariko</span>:<span id="b">~</span
><span id="c">$</span> cat skariko.txt<br /><br />
"<span id="a">Ciao!</span>"<br /><br />
<p style="text-align: right">Questo sito è a <a href="https://codeberg.org/skariko/pages/">codice aperto e libero</a>.</p><p style="text-align: right; font-size: 0.8em">Su questo sito non sono presenti né cookie né statistiche.</p>