@font-face {
	font-family: 'hack';
	src: url('../fonts/Hack-Regular.ttf') format('truetype');
}

body {
  background-color: #000;
}

#console {
  font-family: 'hack', courier, monospace;
  color: #fff;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
}

a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #fff;
}

#k {
  animation: change 1s;
}

#kk {
  animation: change2 1s;
}

#op {
  color: #888888;
}

@keyframes change {
  0% {
    color: #0f0;
  }
  50% {
    color: #0f0;
  }
  99% {
    color: black;
  }
}

@keyframes change2 {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  99% {
    color: black;
  }
}
